<ion-header  style="--background:#438cff91">
  <ion-toolbar>
    <ion-title>Payment</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  style="--background:#438cff91">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img class="images-pay" src="assets/images/visa.png"></ion-img>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-img class="images-pay" src="assets/images/mastercard.png"></ion-img>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
