.setPriceText{
    width: 100%;
    padding: 0px 10px;
}

.priceLimit-input{
    padding: 30px 10px 10px 10px;
    width: 100%;
}

.priceLimit-set{
    padding: 0px 10px;
    width: 100%;
}

.headling-price-limit{
    padding: 0px 20px;
}