<ion-app>
<ion-header>
  <ion-toolbar style="--background:#438cff91">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-searchbar class="search-bar-item" style="--background:#438cff91" [(ngModel)]="searchName"  (ionInput)="search($event)" ></ion-searchbar>
   </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngIf="tableHeadTags == true; then trueTable else falseTable"></div>
<ion-list >
<!-- Template for Product details -->
<ng-template #trueTable>
  <ion-item  >
    <ion-label>
      Name
    </ion-label>
    <ion-label>
      Unit
    </ion-label>
    <ion-label>
      Price(LKR)
    </ion-label>
  </ion-item>
</ng-template>
<ng-template #falseTable>
<!-- <ion-item>
  Enter Product Name
</ion-item> -->
</ng-template>

<!-- Product Details from Search results -->
  <ion-item  *ngFor="let i of itemName"   class="table-content-list">
    <ion-label class="Item-Name-DB">
      {{i.name}}
    </ion-label>
    <ion-label>
      {{i.weight}}
    </ion-label>
    <ion-label>
      {{i.price}}
    </ion-label>
  </ion-item>
  


</ion-list>
</ion-content>
</ion-app>