<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Username" [(ngModel)]="username"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" [(ngModel)]="cpassword" placeholder="Confirm Password"></ion-input>
          </ion-item>
        </div>
  
        <div padding>
          <ion-button class="signupBtn" (click)="register()">Signup</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
